In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd

In [2]:
website_url = 'https://countrymusichalloffame.org/hall-of-fame/members/'
df_list = []
# soup = BeautifulSoup(response.content, 'lxml')
def step1(link):
    response = requests.get(link)
    if response.status_code == 200:
        print('Good!')
    else:
        print("Not good")
    return response

In [3]:
def step2(response, x): # x is really a placeholder for link
    response = requests.get(x)
    soup = BeautifulSoup(response.content, 'lxml')
#     print(soup.h3)
    artist_names = soup.find_all('h3')
    return artist_names

In [4]:
def step3(raw): # will contain artist_names

    artist_names_str_list = []
    artist_names_list = list(raw)
    for name in artist_names_list:
#         print(name)
        name = str(name.string)
        name = name.replace('<h3>',"")
        name = name.replace('</h3>',"")
        artist_names_str_list.append(name)
    return artist_names_str_list

In [5]:
def step4(x): # again, x is a placeholder for link
    response = requests.get(x)
    soup = BeautifulSoup(response.content, 'lxml')
    year_list=[]
    for inductee_year in soup.find_all('div', class_ = 'vertical-card_content--copy'):
        year = inductee_year.p.text.replace('Inducted', '').strip()
        year_list.append(year) #year_list is the useful thing here)
    return year_list

In [6]:
def step5(artist_names_str_list, year_list):
    df = pd.DataFrame(list(zip(artist_names_str_list, year_list)),
                   columns =['Artist', 'Year_Inducted'])
    return df

In [7]:
lst = ['https://countrymusichalloffame.org/hall-of-fame/members/']
def create_df(link):
    response = requests.get(link)
    soup = BeautifulSoup(response.content, 'lxml')
    stuff = step1(link)
    artist_names = step2(stuff, link)
    artist_names_str_list = step3(artist_names)
    year_list = step4(link)
    df = step5(artist_names_str_list, year_list)
    df_list.append(df)
    return df_list

In [8]:
lst

['https://countrymusichalloffame.org/hall-of-fame/members/']

In [9]:
##### TEST ONLY - DELETE WHEN DETERMINE THAT create_df RETURNS A DATAFRAME #####
test = create_df('https://countrymusichalloffame.org/hall-of-fame/members/page/16')
# test.reset_index()
print(type(test[0]))
test

Good!
<class 'pandas.core.frame.DataFrame'>

[          Artist Year_Inducted
 0  Hank Williams          1961
 1      Bob Wills          1968
 2    Mac Wiseman          2014
 3  Tammy Wynette          1998
 4    Faron Young          2000]

In [10]:
n_site = range(2,17)

for num in n_site:
    web_url = str(f'https://countrymusichalloffame.org/hall-of-fame/members/page/{num}')
    lst.append(web_url)

In [11]:
lst

['https://countrymusichalloffame.org/hall-of-fame/members/',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/2',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/3',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/4',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/5',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/6',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/7',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/8',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/9',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/10',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/11',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/12',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/13',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/14',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/15',
 'https://countrymusichalloffame.org/hall-of-fame/members/page/16']

In [12]:
df_list = []
counter = 0
for link in lst:
    print(link[-2:])
    df = create_df(link)[counter]
    print(type(df)) # df is <class 'list'>
########################## My problem now is that I'm making a list of lists of dfs. What I really want is a list of dfs.
    print("x")
    df_list.append(df)
#     print(df[-1]) ####this is a list of dfs, not a df.
    print("y")
    counter += 1

s/
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/2
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/3
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/4
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/5
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/6
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/7
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/8
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
/9
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
10
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
11
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
12
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
13
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
14
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
15
Good!
<class 'pandas.core.frame.DataFrame'>
x
y
16
Good!
<class 'pandas.core.frame.DataFrame'>
x
y

In [13]:
df_list

[          Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999,
           Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999,
                         Artist Year_Inducted
 0               Bobby Braddock          2011
 1               Harold Bradley          2006
 2                Jerry Bradley          2019
 3                 Owen Bradley          1974
 4                Rod Brasfield          1987
 5                 Garth Brooks          2012
 6                Brooks & Dunn          2019
 7                 Jim Ed Brown          2015
 8  Jim Ed Brown and the Browns          2015,
           Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999,
                         Artist Year_Inducted
 0  Boudleaux and Felice Bryant          1991
 1                Glen Campbell          2005
 2                Bill Carlisle          2002
 3                Carter Family          1970
 4                  Johnny Cash          1980
 5                    Roy Clark          2009
 6          Cowboy Jack Clement          2013
 7                  Patsy Cline          1973
 8                 Hank Cochran          2014,
                         Artist Year_Inducted
 0               Bobby Braddock          2011
 1               Harold Bradley          2006
 2                Jerry Bradley          2019
 3                 Owen Bradley          1974
 4                Rod Brasfield          1987
 5                 Garth Brooks          2012
 6                Brooks & Dunn          2019
 7                 Jim Ed Brown          2015
 8  Jim Ed Brown and the Browns          2015,
                  Artist Year_Inducted
 0            Paul Cohen          1976
 1          Floyd Cramer          2003
 2        Vernon Dalhart          1981
 3       Charlie Daniels          2016
 4          Jimmie Davis          1972
 5            Jimmy Dean          2010
 6      Delmore Brothers          2001
 7             Jim Denny          1966
 8  Little Jimmy Dickens          1983,
           Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999,
                  Artist Year_Inducted
 0           Ralph Emery          2007
 1   The Everly Brothers          2001
 2     Flatt And Scruggs          1985
 3         Jim Foglesong          2004
 4             Red Foley          1967
 5  Tennessee Ernie Ford          1990
 6           Fred Foster          2016
 7          Joseph Frank          1967
 8        Lefty Frizzell          1982,
                         Artist Year_Inducted
 0  Boudleaux and Felice Bryant          1991
 1                Glen Campbell          2005
 2                Bill Carlisle          2002
 3                Carter Family          1970
 4                  Johnny Cash          1980
 5                    Roy Clark          2009
 6          Cowboy Jack Clement          2013
 7                  Patsy Cline          1973
 8                 Hank Cochran          2014,
              Artist Year_Inducted
 0     Connie B. Gay          1980
 1        Don Gibson          2001
 2        Vince Gill          2007
 3     Johnny Gimble          2018
 4     Merle Haggard          1994
 5       Tom T. Hall          2008
 6    Emmylou Harris          2008
 7     George D. Hay          1966
 8  Homer and Jethro          2001,
                         Artist Year_Inducted
 0               Bobby Braddock          2011
 1               Harold Bradley          2006
 2                Jerry Bradley          2019
 3                 Owen Bradley          1974
 4                Rod Brasfield          1987
 5                 Garth Brooks          2012
 6                Brooks & Dunn          2019
 7                 Jim Ed Brown          2015
 8  Jim Ed Brown and the Browns          2015,
             Artist Year_Inducted
 0       Roy Horton          1982
 1    Harlan Howard          1997
 2     Ferlin Husky          2010
 3     Alan Jackson          2017
 4      Sonny James          2006
 5  Waylon Jennings          2001
 6     George Jones          1992
 7    Grandpa Jones          1978
 8      Jordanaires          2001,
                  Artist Year_Inducted
 0            Paul Cohen          1976
 1          Floyd Cramer          2003
 2        Vernon Dalhart          1981
 3       Charlie Daniels          2016
 4          Jimmie Davis          1972
 5            Jimmy Dean          2010
 6      Delmore Brothers          2001
 7             Jim Denny          1966
 8  Little Jimmy Dickens          1983,
                 Artist Year_Inducted
 0         Pee Wee King          1974
 1   Kris Kristofferson          2004
 2              Don Law          2001
 3           Brenda Lee          1997
 4          Hubert Long          1979
 5  The Louvin Brothers          2001
 6         Loretta Lynn          1988
 7    Uncle David Macon          1966
 8     Barbara Mandrell          2009,
           Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999,
           Artist Year_Inducted
 0   Grady Martin          2015
 1  Charlie McCoy          2009
 2  Reba McEntire          2011
 3   Roger Miller          1995
 4  Ronnie Milsap          2014
 5    Bill Monroe          1970
 6  Patsy Montana          1996
 7  George Morgan          1998
 8     Ken Nelson          2001,
                  Artist Year_Inducted
 0           Ralph Emery          2007
 1   The Everly Brothers          2001
 2     Flatt And Scruggs          1985
 3         Jim Foglesong          2004
 4             Red Foley          1967
 5  Tennessee Ernie Ford          1990
 6           Fred Foster          2016
 7          Joseph Frank          1967
 8        Lefty Frizzell          1982,
            Artist Year_Inducted
 0   Willie Nelson          1993
 1  Oak Ridge Boys          2015
 2      Buck Owens          1996
 3    Dolly Parton          1999
 4    Minnie Pearl          1975
 5      Ralph Peer          1984
 6    Sam Phillips          2001
 7     Webb Pierce          2001
 8   Elvis Presley          1998,
                         Artist Year_Inducted
 0  Boudleaux and Felice Bryant          1991
 1                Glen Campbell          2005
 2                Bill Carlisle          2002
 3                Carter Family          1970
 4                  Johnny Cash          1980
 5                    Roy Clark          2009
 6          Cowboy Jack Clement          2013
 7                  Patsy Cline          1973
 8                 Hank Cochran          2014,
                  Artist Year_Inducted
 0       Frances Preston          1992
 1             Ray Price          1996
 2         Charley Pride          2000
 3           ​Jerry Reed          2017
 4            Jim Reeves          1967
 5            Tex Ritter          1964
 6  Hargus “Pig” Robbins          2012
 7         Marty Robbins          1982
 8        Jimmie Rodgers          1961,
              Artist Year_Inducted
 0     Connie B. Gay          1980
 1        Don Gibson          2001
 2        Vince Gill          2007
 3     Johnny Gimble          2018
 4     Merle Haggard          1994
 5       Tom T. Hall          2008
 6    Emmylou Harris          2008
 7     George D. Hay          1966
 8  Homer and Jethro          2001,
                 Artist Year_Inducted
 0         Kenny Rogers          2013
 1           Roy Rogers          1988
 2            Fred Rose          1961
 3          Wesley Rose          1986
 4  Arthur E. Satherley          1971
 5          Don Schlitz          2017
 6         Jean Shepard          2011
 7       Billy Sherrill          2010
 8       Stephen Sholes          1967,
                         Artist Year_Inducted
 0               Bobby Braddock          2011
 1               Harold Bradley          2006
 2                Jerry Bradley          2019
 3                 Owen Bradley          1974
 4                Rod Brasfield          1987
 5                 Garth Brooks          2012
 6                Brooks & Dunn          2019
 7                 Jim Ed Brown          2015
 8  Jim Ed Brown and the Browns          2015,
                      Artist Year_Inducted
 0              Ricky Skaggs          2018
 1                Carl Smith          2003
 2              Connie Smith          2012
 3                 Hank Snow          1979
 4      Sons of the Pioneers          1980
 5                Jack Stapp          1989
 6               Ray Stevens          2019
 7             Cliffie Stone          1989
 8  Ernest V. “Pop” Stoneman          2008,
             Artist Year_Inducted
 0       Roy Horton          1982
 1    Harlan Howard          1997
 2     Ferlin Husky          2010
 3     Alan Jackson          2017
 4      Sonny James          2006
 5  Waylon Jennings          2001
 6     George Jones          1992
 7    Grandpa Jones          1978
 8      Jordanaires          2001,
                  Artist Year_Inducted
 0         George Strait          2006
 1   The Duke of Paducah          1986
 2  The Statler Brothers          2008
 3         Hank Thompson          1989
 4            Mel Tillis          2007
 5         Floyd Tillman          1984
 6          Merle Travis          1977
 7          Randy Travis          2016
 8           Ernest Tubb          1965,
                  Artist Year_Inducted
 0            Paul Cohen          1976
 1          Floyd Cramer          2003
 2        Vernon Dalhart          1981
 3       Charlie Daniels          2016
 4          Jimmie Davis          1972
 5            Jimmy Dean          2010
 6      Delmore Brothers          2001
 7             Jim Denny          1966
 8  Little Jimmy Dickens          1983,
                 Artist Year_Inducted
 0         Grant Turner          1981
 1        Conway Twitty          1999
 2       Porter Wagoner          2002
 3         Cindy Walker          1997
 4     Jo Walker-Meador          1995
 5          Kitty Wells          1976
 6  E. W. “Bud” Wendell          1998
 7          Dottie West          2018
 8         Don Williams          2010,
                 Artist Year_Inducted
 0         Pee Wee King          1974
 1   Kris Kristofferson          2004
 2              Don Law          2001
 3           Brenda Lee          1997
 4          Hubert Long          1979
 5  The Louvin Brothers          2001
 6         Loretta Lynn          1988
 7    Uncle David Macon          1966
 8     Barbara Mandrell          2009,
           Artist Year_Inducted
 0  Hank Williams          1961
 1      Bob Wills          1968
 2    Mac Wiseman          2014
 3  Tammy Wynette          1998
 4    Faron Young          2000,
           Artist Year_Inducted
 0      Roy Acuff          1962
 1        Alabama          2005
 2  Bill Anderson          2001
 3    Eddy Arnold          1966
 4    Chet Atkins          1973
 5     Gene Autry          1969
 6  DeFord Bailey          2005
 7     Bobby Bare          2013
 8    Johnny Bond          1999]

In [14]:
result = pd.concat(df_list)
result

           Artist Year_Inducted
0       Roy Acuff          1962
1         Alabama          2005
2   Bill Anderson          2001
3     Eddy Arnold          1966
4     Chet Atkins          1973
..            ...           ...
4     Chet Atkins          1973
5      Gene Autry          1969
6   DeFord Bailey          2005
7      Bobby Bare          2013
8     Johnny Bond          1999

[284 rows x 2 columns]